<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>IQG</title>

    <!-- Bootstrap -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="stylesheets/styles.css" rel="stylesheet">
      <link href="stylesheets/w3.css" rel="stylesheet">
      <script type="text/javascript" src="javascript/scripts.js"></script>
      <script type="text/javascript" src="javascript/routes.js"></script>
    
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="javascript/antixss.js" type="text/javascript"></script>
    
</head>

<body style="background-color:rgb(233,231,218);" ng-app="myApp" ng-controller="myCtrl">

<!-- Nav Bar -->
<div style="background-color:rgb(118,50,63);" class="w3-bar">
  <label style="font-family:Courier; font-size:18px; color:rgb(233,231,218);" class="w3-left w3-bar-item ">Signed in as <span id="userNameSpan"></span></label>
  <a href="/" id="logoutButton" class="w3-right w3-btn w3-bar-item"><img src='images/logout-icon.png'></a>
  <button id="myQuestButton" style="font-family:Courier; font-size:18px; color:rgb(233,231,218); text-align:center;" class="w3-right w3-btn w3-bar-item"><b>My Questions</b></button>   
</div> 
<!-- End Nav Bar -->

<script>
    $('#userNameSpan').html('<%= name %>');
</script>


    <div class="container">
       <header style="color:rgb(86,86,86);" class="w3-margin-top w3-container w3-xxlarge">Start Adding your Question</header>
 
        <div id="nameInput" class="w3-container ">
        
        	 <p class="w3-text-red"id="demo"><b></b></p>
             <br>
             <br>
             <textarea id="user_name" class="w3-border w3-round w3-input " placeholder="Type your Question" aria-describedby="sizing-addon1"></textarea>
             <br>
             <br>
             
                  
          
       
           <select id="category" onchange="showinputsubcategory()"  ng-model="category" ng-change="changesubcategory()"  class="w3-select w3-border w3-round " name="option">
			    <option value="" disabled selected>Choose Category..</option>
			    <option ng-repeat="x in findcategory" value={{x.name}}>{{x.name}}</option>
			  </select>
         
         <br>
         <br>
         
          <button style="background-color:rgb(118,50,63); color:rgb(205,216,199);" class=" w3-left w3-btn w3-round" onclick="addUniqueCategory()" >Add a non existing Category</button>
          <br>
          <br>
          <br>
          
          
          <div  class="w3-container" id="addCategoryinput">
          <label style="color:rgb(86,86,86);">Add a Category if it does not exist</label>
          <br> 
          <br>
          <input id="addcategory" ng-model="addcategory" ng-change="upper(addcategory)" type="text" class="w3-input w3-left w3-margin-right w3-border w3-round " style="width:60%" placeholder="Add a Category if it does not exist" aria-describedby="sizing-addon1" value=""  /> 
           <button style="background-color:rgb(118,50,63); color:rgb(205,216,199);" class=" w3-left w3-margin-right w3-btn w3-round" onclick="addCategory()"   ng-disabled="incomplete"  >Add</button>
          
          <br>
          <br> 
          <br>
          </div> 
            
            
           <div  id="subcategorycontainer"  >        
		           <select id="subcategory"   class="w3-select w3-border w3-round " name="option">
					    <option value="" disabled selected>Choose a subcategory..</option>
					    <option ng-repeat="x in findsubcategory" value={{x.name}}>{{x.name}}</option>
					  </select>
		         
		         <br>
		         <br>
		         
		         <button style="background-color:rgb(118,50,63); color:rgb(205,216,199);" class=" w3-left w3-btn w3-round" onclick="addUniquesubCategory()" >Add a non existing subcategory</button>
		         <br>
		         <br>
		         <br>
		         
		         
		         
		         <div class="w3-container" id="addsubCategoryinput" >
		          <label style="color:rgb(86,86,86);">Add a subCategory if it does not exist</label>
		          <br>
		          <br>
		          <input id="addsubcategory" ng-model="addsubcategory" ng-change="subupper(addsubcategory)" type="text" class="w3-input w3-left w3-margin-right w3-border w3-round " style="width:40%" placeholder="Add a sub Category if it doesnot exist" aria-describedby="sizing-addon1" value=""  /> 
		          
		           <select id="categoryforsub"   class="  w3-left w3-margin-right w3-select w3-border w3-round " style="width:40%" name="option">
					    <option value="" disabled selected>Choose Category..</option>
					    <option ng-repeat="x in findcategory" value={{x.name}}>{{x.name}}</option>
					    
					  </select>
					   <button style="background-color:rgb(118,50,63); color:rgb(205,216,199);" class=" w3-left w3-margin-right w3-btn w3-round" onclick="addsubCategory()"  ng-disabled="subincomplete"  >Add</button>
		          	    
		          
		          </div>
		          
		          <br>
		          <br> 
		          <br>
          
          
      	  </div>
          
          
          
               <select id="noChoice" onchange="choiceGenerator()"  class="w3-select w3-border w3-round " name="option">
             	<option value="" disabled selected>Choose number of answer choices..</option>
			    <option value="2">2</option>
			    <option value="3">3</option>
			    <option value="4">4</option>
			  </select>
			 
			 <br>
             <br> 
		<div id="answers">
         
         
         </div>
         <br>
         <br>
         
           
      
          
            
          <div id="models">  
            <h3 style="color:rgb(86,86,86);" class="w3-xlarge">Model Answer:</h3>
          
           
      
          </div>
          <br>
         <br>
          
          
          
          

			<br>
			<br>
          
          
          
          
          
          
            <select id="qlevel"  class="w3-select w3-border w3-round " name="option">
			    <option value="" disabled selected>Choose Difficulty..</option>
			    <option value="Easy">Beginner</option>
			    <option value="Medium">Intermediate</option>
			    <option value="Hard">Advanced</option>
			  </select>
          
          <br>
         <br>
          
           <input id="estTime" type="text" class="w3-input w3-border w3-round " placeholder="Time Estmate in Minutes" aria-describedby="sizing-addon1" value=""  /><br>
		 <br>
         <br>
         
         <input id=receiverID type=text class="w3-input w3-border w3-round " placeholder="Reviewer email" value="" />
         <br>
         <br>
         
          
         
         <br>
         <br>
        	<p style="color:rgb(205,216,199);"><button style="background-color:rgb(118,50,63);" class="w3-btn w3-round" onclick="submitQuestion()" >Submit</button>    <button style="background-color:rgb(118,50,63);" class="w3-btn w3-round" onclick="returnHomepage()" >Cancel</button></p>
        </div>
        <p id="response" class="lead text-center"></p>

        <p id="databaseNames" class="lead text-center"></p>
    </div>

    <script>
    var modelanswer="";
    
    $('#addCategoryinput').hide();
    $('#addsubCategoryinput').hide();
    $('#subcategorycontainer').hide();
    
    var incompleteflag=0;
	    function check()
	    {
		    if(document.getElementById("radio1").checked)
		  		modelanswer=$('#option1').val();
		
		    else if(document.getElementById("radio2").checked)
		    	modelanswer=$('#option2').val();
		      
	   		else if(document.getElementById("radio3").checked)
		    	modelanswer=$('#option3').val();
		
			else if(document.getElementById("radio4").checked) 
				modelanswer=$('#option4').val();
			      
	    }
    

	    
    
	    function showinputsubcategory()
	    {
	    	
	    	$('#subcategorycontainer').show();
	    }
	    
	    
	   function addCategory()
	   {
		   
		   var name=$('#addcategory').val().toLowerCase();
		   var type="category";
		   
		   
		  
		   
		   $.ajax({
				  method: "POST",
				  url: "./api/addCategory",
				  contentType: "application/json",
				  data: JSON.stringify({"name" : name,"type":type})
             })	  
             
             .done(function(data)
            {
                alert("New Category was added successfully");
                location.reload();
             });
		 
		   
	   }
	    
	   
	   
	   function addsubCategory()
	   {
		   
		   var name=$('#addsubcategory').val();
		   var type="subcategory";
		   var categoryname=$('#categoryforsub').val();
		   
		   $.ajax({
				  method: "POST",
				  url: "./api/addsubCategory",
				  contentType: "application/json",
				  data: JSON.stringify({"name" : name,"type":type,"categoryname":categoryname})
             })	  
             
             .done(function(data)
            {
                alert("New Subcategory was added successfully");
                location.reload();
    
             });
		  
		   
	   }
	    
	   
	  
	   
	   
	    
	    
    	//Submit data when submit is pressed
        function submitQuestion() 
    	{
    		var op1="";
    		var op2="";
    		var op3="";
    		var op4="";
    		
        	var name = $('#user_name').val();
        	 op1= $('#option1').val();
        	 op2= $('#option2').val();
        	 op3= $('#option3').val();
        	 op4= $('#option4').val();
        	var category=$('#category').val();
        	var subcategory=$('#subcategory').val();
        	var qlevel=$('#qlevel').val();
        	var estime=$('#estTime').val();
        	var adderid='<%= email %>';
        	var reviewerid=$('#receiverID').val();;
        	var status="pending";
        	var comment="";
        	var repetition=0;
        	var type="question";
        	var currentTime = new Date();
        	var month = currentTime.getMonth() + 1;
			var day = currentTime.getDate();
			var year = currentTime.getFullYear();
			var date= day+"/"+month+"/"+year;
        	
        	//To see if there are any unfilled fields
        	
        	
        	if(name=="" || op1=="" || op2==""  || category=="" || subcategory=="" || qlevel==""|| estime=="" || op1==null ||op2==null)
        		incompleteflag=1;
        	
        	if($('#noChoice').val()==2)
    		{
    			op3= "";
    			op4= "";
    		}
    		else if($('#noChoice').val()==3)    
    		{
				op4= "";
				if(op3=="")
					incompleteflag=1;
    		}
        	
    		else if($('#noChoice').val()==4)    
    		{
				
				if(op3=="" || op4=="")
					incompleteflag=1;
    		}
    		var emailValid = true;
            var atpos = reviewerid.indexOf("@");
            var dotpos = reviewerid.lastIndexOf(".");
            if (atpos<1 || dotpos<atpos+2 || dotpos+2>=reviewerid.length) {
                emailValid = false;
            }
        	
        	
        	
            if (emailValid && incompleteflag==0) 
            { 
            	//POST request to API to create a new visitor entry in the database
                $.ajax({
				  method: "POST",
				  url: "./api/insertQuestion",
				  contentType: "application/json",
				  data: JSON.stringify({"name" : name,"op1": op1,"op2":op2,"op3":op3,"op4":op4,"modelanswer":modelanswer,"category":category,"subcategory":subcategory,"qlevel":qlevel,"estime":estime,"adderid":adderid,"reviewerid":reviewerid,"status":status,"comment":comment,"rep":repetition,"type":type,"date":date})
                })	  
                
                .done(function(data) {
                   alert("Your Question was added successfully");
                    returnHomepage();
                    
                });
            }
        	
            else if (incompleteflag==1)
            	{
            		document.getElementById("demo").innerHTML = "Please fill all the required fields";
            		incompleteflag=0;
            	}
            else if (!emailValid)
            	{
	            	document.getElementById("demo").innerHTML = "Please enter a Valid email address for Reviewer";
	        		emailValid=true;
            	}
          
        }
    	
	   
    	function addUniqueCategory()
    	{
    		$('#addCategoryinput').show();
    	    
    	}
    	
    	function addUniquesubCategory()
    	{
    		$('#addsubCategoryinput').show();
    	}
    	
    	
    	
	       var app = angular.module('myApp', []);
	
	 	   app.controller('myCtrl', function($scope, $http) 
	 	   {
	 		
	 		   $scope.incomplete = false;
	 		   $scope.subincomplete = false; 
	 		   $http.get("/api/findcategory").then(function (response) { $scope.findcategory = response.data;});
	 		  
	 		   
	 		  $scope.changesubcategory = function()
	 		  	{
		 			 $http({ url: "/api/findsubcategory",  method: "GET", params: {"categoryname": $scope.category}}).then(function (response) { $scope.findsubcategory = response.data;});
		 			 $scope.subcategorycontainer=false;
	 			}
	 		   
	 		
	 		   
	 		  $scope.upper = function(addcategory)
	 		  	{
	 			 $scope.addcategory = addcategory.toLowerCase();
	 			}
	 		  
	 		  
	 		  
	 		 $scope.subupper = function(addsubcategory)
	 		 	{
	 			 $scope.addsubcategory = addsubcategory.toLowerCase();
	 			 }
	 		  
	 		  $scope.$watch('addcategory', function() {$scope.checkredundancy();});
	 		  $scope.$watch('addsubcategory', function() {$scope.checkredundancysub();});
	 		  
	 		  
	 		  
	 		  $scope.checkredundancy=function()
	 		  {
	 			 $scope.incomplete = false; 
	 			 
		 			 for(var i=0;i<$scope.findcategory.length;i++)
		 		    {  
		 				
		 				if(angular.equals($scope.findcategory[i].name,$scope.addcategory))	
		 					$scope.incomplete = true;
		 				
		 				
		 		    }
	 		 };
	 			 
	 			 $scope.checkredundancysub=function()
		 		  {
		 			 $scope.subincomplete = false; 
		 			 
			 			 for(var i=0;i<$scope.findsubcategory.length;i++)
			 		    {  
			 				
			 				if(angular.equals($scope.addsubcategory,$scope.findsubcategory[i].name))
			 					$scope.subincomplete = true;
			 					
			 			
			 				
			 		    }
	 			 
		 		 };
	 		  
	 		   
	 	   });
    
         
    </script>
</body>

</html>